DATABASE_URL="postgresql://archive:archive@postgres:5432/archive?schema=public"

TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
TWITCH_EVENTSUB_USER_TOKEN=""
TWITCH_BOT_USERNAME=""
TWITCH_BOT_OAUTH=""
TWITCH_CHANNELS="dawgonosik"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_STORAGE_CHAT_ID=""
TELEGRAM_ALLOWED_USER_IDS=""

MAX_IMAGE_BYTES="31457280"
MAX_VIDEO_BYTES="157286400"
MAX_DAILY_DOWNLOAD_BYTES="10737418240"
MAX_PARALLEL_DOWNLOADS="2"
ALLOW_PRIVATE_MEDIA_HOSTS="false"
